AccessControl==7.2
Acquisition==6.1
annotated-types==0.7.0
arrow==1.3.0
attrs==25.3.0
AuthEncoding==6.0
beautifulsoup4==4.13.4
binaryornot==0.4.4
borg.localrole==3.1.11
BTrees==6.1
certifi==2025.7.14
cffi==1.17.1
Chameleon==4.6.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
collective.monkeypatcher==2.0.0
cookiecutter==2.6.0
cryptography==45.0.5
cssselect==1.3.0
DateTime==5.5
decorator==5.2.1
defusedxml==0.7.1
diazo==2.0.3
DocumentTemplate==4.6
docutils==0.21.2
ExtensionClass==6.0
feedparser==6.0.11
five.customerize==4.0
five.intid==3.0.1
five.localsitemanager==5.0
future==1.0.0
icalendar==6.3.1
idna==3.10
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
legacy-cgi==2.6.3
lxml==6.0.0
lxml_html_clean==0.4.2
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
Missing==5.0
MultiMapping==5.0
multipart==1.2.1
oic==1.7.0
packaging==25.0
pas.plugins.oidc==2.0.0
Paste==3.10.1
PasteDeploy==3.1.0
Persistence==5.1
persistent==6.1.1
piexif==1.1.3
pillow==11.3.0
Plone==6.1.0
plone.alterego==2.0.1
plone.api==2.5.2
plone.app.caching==4.1.0
plone.app.content==4.1.10
plone.app.contentlisting==3.0.5
plone.app.contentmenu==3.0.7
plone.app.contentrules==5.0.7
plone.app.contenttypes==4.0.5
plone.app.customerize==2.0.2
plone.app.dexterity==4.1.0
plone.app.discussion==5.2.0
plone.app.event==5.2.2
plone.app.i18n==4.0.1
plone.app.intid==2.0.0
plone.app.iterate==6.2.0
plone.app.layout==5.0.2
plone.app.linkintegrity==4.0.6
plone.app.locales==6.0.31
plone.app.lockingbehavior==2.0.2
plone.app.multilingual==8.3.0
plone.app.portlets==6.0.2
plone.app.querystring==2.1.3
plone.app.redirector==3.0.4
plone.app.registry==2.0.6
plone.app.relationfield==4.0.2
plone.app.textfield==3.0.0
plone.app.theming==5.0.13
plone.app.upgrade==3.2.2
plone.app.users==3.1.3
plone.app.uuid==2.2.3
plone.app.versioningbehavior==2.0.4
plone.app.viewletmanager==4.0.4
plone.app.vocabularies==6.0.2
plone.app.workflow==5.0.4
plone.app.z3cform==4.7.8
plone.autoform==2.0.3
plone.autoinclude==2.0.3
plone.base==3.1.0
plone.batching==2.0.6
plone.behavior==2.0.2
plone.browserlayer==3.0.2
plone.cachepurging==3.0.2
plone.caching==2.0.1
plone.classicui==1.0.1
plone.contentrules==3.0.1
plone.dexterity==3.0.7
plone.distribution==3.2.0
plone.event==2.0.2
plone.exportimport==1.1.1
plone.folder==4.0.1
plone.formwidget.namedfile==3.1.1
plone.formwidget.recurrence==3.0.5
plone.i18n==5.1.0
plone.indexer==2.0.1
plone.intelligenttext==4.0.1
plone.keyring==4.0.2
plone.locking==3.0.2
plone.memoize==3.0.3
plone.namedfile==7.2.0
plone.outputfilters==5.0.4
plone.portlet.collection==4.0.4
plone.portlet.static==4.0.4
plone.portlets==3.0.2
plone.protect==5.0.5
plone.registry==2.0.1
plone.resource==3.0.2
plone.resourceeditor==4.0.1
plone.rest==5.0.0
plone.restapi==9.15.1
plone.rfc822==3.0.1
plone.scale==4.2.0
plone.schema==2.0.2
plone.schemaeditor==4.0.11
plone.session==4.0.5
plone.staticresources==2.3.1
plone.stringinterp==2.0.2
plone.subrequest==2.0.5
plone.supermodel==2.0.4
plone.theme==4.0.3
plone.transformchain==3.0.1
plone.uuid==2.0.1
plone.volto==5.2.0
plone.z3cform==2.0.5
plonetheme.barceloneta==3.3.0
Products.BTreeFolder2==5.1
Products.CMFCore==3.7
Products.CMFDiffTool==4.0.4
Products.CMFDynamicViewFTI==7.0.2
Products.CMFEditions==4.0.5
Products.CMFPlacefulWorkflow==3.0.5
Products.CMFPlone==6.1.2
Products.CMFUid==4.2
Products.DateRecurringIndex==3.0.1
Products.DCWorkflow==3.0
Products.ExtendedPathIndex==4.0.1
Products.ExternalMethod==6.0
Products.GenericSetup==5.0.0
Products.isurlinportal==3.0.0
Products.MailHost==6.0
Products.MimetypesRegistry==3.0.1
Products.PlonePAS==8.0.5
Products.PluggableAuthService==3.0
Products.PluginRegistry==2.0
Products.PortalTransforms==4.1.1
Products.PythonScripts==5.1
Products.Sessions==6.0
Products.SiteErrorLog==6.0
Products.StandardCacheManagers==5.0
Products.statusmessages==5.0.6
Products.ZCatalog==7.2
Products.ZopeVersionControl==4.1
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pyjwkest==1.4.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-gettext==5.0
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
Record==4.1
referencing==0.36.2
repoze.xmliter==0.6.1
requests==2.32.4
RestrictedPython==8.0
rich==14.0.0
roman==5.1
rpds-py==0.26.0
setuptools==80.9.0
sgmllib3k==1.0.0
simplejson==3.20.1
six==1.17.0
soupsieve==2.7
text-unidecode==1.3
transaction==5.0
types-python-dateutil==2.9.0.20250708
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.5.0
waitress==3.0.2
WebOb==1.8.9
webresource==1.2
WebTest==3.0.6
WSGIProxy2==0.5.1
z3c.caching==4.0
z3c.form==6.0.1
z3c.formwidget.query==3.0
z3c.objpath==3.0
z3c.pt==5.1
z3c.relationfield==3.0
z3c.unconfigure==3.0
z3c.zcmlhook==3.0
zc.lockfile==3.0.post1
zc.relation==2.1
ZConfig==4.2
zExceptions==5.0
ZODB==6.0.1
zodbpickle==4.2
Zope==5.13
zope.annotation==5.1
zope.app.locales==5.0
zope.browser==3.1
zope.browsermenu==5.1
zope.browserpage==5.1
zope.browserresource==5.2
zope.cachedescriptors==5.1
zope.component==6.0
zope.componentvocabulary==3.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.2
zope.copy==5.0
zope.datetime==5.1
zope.deferredimport==5.0
zope.deprecation==5.1
zope.dottedname==6.0
zope.event==5.1.1
zope.exceptions==5.2
zope.filerepresentation==6.1
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.interface==7.2
zope.intid==5.1
zope.keyreference==6.1
zope.lifecycleevent==5.1
zope.location==5.1
zope.pagetemplate==5.1
zope.processlifetime==3.1
zope.proxy==6.1
zope.ptresource==5.1
zope.publisher==7.3
zope.ramcache==3.1
zope.schema==7.0.1
zope.security==7.3
zope.sendmail==6.2
zope.sequencesort==5.1
zope.site==5.1
zope.size==5.1
zope.structuredtext==5.0
zope.tal==5.1
zope.tales==6.1
zope.testbrowser==7.0.1
zope.testing==5.1
zope.traversing==5.1
zope.viewlet==5.1
